@import url("cards/main_info.css");
@import url("cards/add_info.css");

body {
  background-color: #131313;
  color: #cccccc;
}

#leaderboard {
  display: flex;
  flex-direction: column;
  gap: 10px; /* расстояние между блоками */
}

.result-block {
  display: flex;
  position: relative;
  align-items: center;
  gap: 10px; /* отступ между аватаркой и текстом */
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #2e2e2e;
  border-radius: 5px;
  background-color: #414141;
}

.error-block {
  color: red;
}